/* some style */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px;

    background-color: #efc705;
    fill: #efc705;
}

* {
    padding:0;
    margin: 0;
}


.current-step {background-color: #C14027}
.note-on {background-color: #008188}
.note-off {background-color: #073E51}

.pressed {background-color: #008188}
.depressed {background-color: #073E51}

.sequencer {
    background-color: #efc705;
    fill: #efc705;
    float: left
}

.box {
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 3px;
    width:700px;
}

svg {
    cursor:default;
}

svg .gtitle {
    font-size: 13px;
    fill: #008188;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg .sknob text {
    font-size: 11px;
    fill: #333;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg .sknob circle {
    fill: #008188;
    cursor: pointer;
}

svg .sknob line {
    stroke:  #008188;
}

svg .bg {
    fill: #efc705;
}

svg .group {
    fill: none;
    stroke: #008188;
    stroke-width: 2;
    pointer-events: none;
}

.knob {
    width: 120px;
    float: left;
    margin: 10px;
}

.pknob {
    width: 50px;
}

.knob span {
    display: block;
    font-weight: bold;
}

.module {
    float: left;
    background-color: #eee;
    margin: 5px;
}

.module span.title {
    display: block;
    padding: 3px;


}

.clearfix {
    clear:left;
}

button {
    height: 20px;
    /*width: 20px;*/
    min-width: 20px;
    padding: 3px;
}
