/* some style */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px;
}

* {
    padding:0;
    margin: 0;
}

.current-step {background-color: yellow}
.note-on {background-color: red}
.note-off {background-color: blue}


.box {
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 3px;
}

.knob {
    width: 120px;
    float: left;
    margin: 10px;
}

.knob span {
    display: block;
    font-weight: bold;
}

.module {
    float: left;
    background-color: #eee;
    margin: 5px;
}

.module span.title {
    display: block;
    padding: 3px;


}

.clearfix {
    clear:left;
}

button {
    height: 10px;
    /*width: 20px;*/
    min-width: 20px;
    padding: 3px;
}
