/* some style */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px;

    background-color: #efc705;
    fill: #efc705;
    text-align: center;
}

* {
    padding:0;
    margin: 0;
}

#app {
    width:1000px;
    margin: 0 auto;
    text-align: left;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
}

#header {
    text-align: left;
    margin: 0 auto;
    width: 1000px;
}

#header svg {
    margin-left: 10px;
    margin-right: 20px;

}

#header h1 {
    display: inline;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}




.current-step {background-color: #C14027}
.note-on {background-color: #008188}
.note-off {background-color: #073E51}

.pressed {background-color: #008188}
.depressed {background-color: #073E51}

.sequencer {
    background-color: #efc705;
    fill: #efc705;
    float: left
}

.box {
    margin: 10px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 3px;
    width:700px;
}

svg {
    cursor:default;
}

svg .gtitle {
    font-size: 13px;
    fill: #008188;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg .sknob text {
    font-size: 11px;
    fill: #333;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg text.label {
    font-size: 11px;
    fill: #333;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg .sknob circle {
    fill: #008188;
    cursor: pointer;
}

svg .sknob line {
    stroke:  #008188;
    stroke-width: 2;
}

svg .sknob.white circle {
    fill: #fff;
    cursor: pointer;
}

svg .sknob.white line {
    stroke:  #fff;
    stroke-width: 2;
}

svg .seq-but {
    fill: #fff;
    stroke:  #ff0;
    stroke-width: 2;

    opacity: 0.5;
}


svg .sknob.white .mark {
    fill: #008188;
}


svg .bg {
    fill: #efc705;
}

svg .group {
    fill: none;
    stroke: #008188;
    stroke-width: 2;
    pointer-events: none;
}

svg .step-g {
    fill: #073E51;
    opacity: 0.8;
}

svg .step-g.bar {
    fill: #073E51;
    opacity: 0.9;
}


svg .step-g.note {
    fill: #C14027;
    stroke: #93271B;
}

.gtitle.red {
    fill: #93271B;
}

.group.red {
    stroke: #93271B;
}


svg .step-g.on {
    fill: #fff;
    stroke: #ff0;
}

svg rect.seq-but.note {
    opacity: 1 !important;
}

svg.seq-box {
    /*border: 1px solid blue;*/
}


svg circle.led {
    fill: transparent;
    transition: fill 0.1s;
}

svg circle.led.led-on {
    fill: #C14027;
}

svg circle.led-rind {
    stroke: #008188;
    stroke-width: 2;
}

svg .ctl-btn rect {
    fill:  #C14027;
    cursor: pointer;
}

svg .ctl-btn text {
    font-size: 13px;
    fill: white;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg .ctl-btn.push rect {
    fill:  white;
}

svg .ctl-btn.push text {
    fill: #C14027;
}

svg rect.bpm-ctr {
    fill: #C14027;
}

svg text.bpm-ctr {
    font-size: 13px;
    fill: white;
    pointer-events: none;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

svg text.name {
    font-size: 30px;
    fill: #008188;
    font-family: 'Roboto Condensed', Helvetica, sans-serif
}

svg text.seq-name {
    font-size: 20px;
    fill: #008188;
    font-family: 'Roboto Condensed', Helvetica, sans-serif
}

.seq-header {
    stroke-dasharray: 970,0,10,990,30;
}


.knob {
    width: 120px;
    float: left;
    margin: 10px;
}

.pknob {
    width: 50px;
}

.knob span {
    display: block;
    font-weight: bold;
}

.module {
    float: left;
    background-color: #eee;
    margin: 5px;
}

.module span.title {
    display: block;
    padding: 3px;


}

.clearfix {
    clear:left;
}

button {
    height: 20px;
    /*width: 20px;*/
    min-width: 20px;
    padding: 3px;
}

div#footer {
    width:1000px;
    margin: 0 auto;
    margin-top: 20px;
}

div.column {
    width: 400px;
    margin-right: 20px;
    text-align: left;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    font-size: 13px;
    float: left;
    padding-left: 10px
}

div.column li {
    list-style-type: none;
    padding-top: 5px;
}

div.column p {
    text-align: justify;
    padding-top: 5px;
}

a {
    color: #93271B;
}
